@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* Pseudo-classes */

/* Pseudo-elements */
::-webkit-scrollbar {
  @apply w-[8px] h-[8px];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#dde3ea] rounded-[9999px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[rgb(196,199,197)];
}

/* Element selectors */
body {
  @apply text-[rgb(var(--text))];
}

ul, ol {
  @apply list-[revert] pl-4;
}

/* Class selectors */
.transition-width {
  @apply transition-[width] duration-300 ease-in-out;
}

.text {
  @apply text-[#1b1c1d];
}

@layer utilities {
  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }

  .animate-spin {
    animation: spin 3s linear infinite;
  }
}